<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}" {{end}}>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="content">
        {{- partial "header.html" .}}
        
        <div class="post" id="main">
            {{ $aside := partial "aside.html" .}}
            {{ if ne (replaceRE "(\\s)" "" $aside) "" }}
            {{/*  Only display the aside if it has content  */}}
            <aside>
                {{- partial "aside.html" . -}}
            </aside>
            {{ end }}
            <main class="{{ if .Params.wide }}wide{{ end }}">
                {{/*  {{ .Content }}  */}}
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>