<footer>
    <div class="footer-image">
        {{ partial "svg/footer-1.svg" . }}
    </div>
    <div class="footer-content">
        <div class="footer-col col-1">
            <div class="footer-label">
                About
            </div>
            I’m an undergraduate student at the University of Washington studying electrical engineering. Additionally,
            I'm interested in robotics, software and design.
            <div class="footer-spacer"></div>
            Right now, I work on WISP at the UW Sensor Systems Lab.
        </div>
        <div class="footer-col col-2">
            <div class="footer-label">
                Pages
            </div>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{.Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="footer-col col-3">
            <div class="footer-label">
                Connect
            </div>
            <ul>
                {{ range .Site.Menus.connect }}
                <li><a href="{{ .URL }}" target="_blank">{{.Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="footer-col col-4">
            <a href="#" class="footer-label back-to-top">
                Back to top
                <span class="footer-arrow">
                    {{ partial "icon-thick" "arrow_up" }}
                </span>
            </a>
            <div class="footer-year">
                {{ now.Format "2006" }} Rohan Menon
            </div>
        </div>
    </div>
</footer>
<div class="cursor-container">
    <div class="cursor"></div>
</div>
<!-- <script>
    cursorElement = document.querySelector(".cursor");
    if (cursorElement) {
        document.body.classList.add("cursor-enabled");
        document.addEventListener("mousemove", e => {
            cursorElement.style.top = e.clientY + "px";
            cursorElement.style.left = e.clientX + "px";
        });
    }

    hoverElements = document.querySelectorAll("a, button");
    if (hoverElements) {
        hoverElements.forEach(element => {
            const rect = element.getBoundingClientRect();
            const dotSize = rect.height * 0.25 + 30;
            console.log(rect);
            element.addEventListener("mouseenter", e => {
                cursorElement.classList.add("hover");
                cursorElement.style.width = dotSize + "px";
                cursorElement.style.height = dotSize + "px";
            });
            element.addEventListener("mouseleave", e => {
                cursorElement.classList.remove("hover");
                cursorElement.style.width = "";
                cursorElement.style.height = "";
            });
        });
    }

</script> -->