<footer>
    <div class="footer-image">
        {{/*  Generate a random number between 1 and 3 to choose a footer  */}}
        {{ $titleHash := add (crypto.FNV32a .RelPermalink) 1 }}
        {{ $random := add 1 (mod (int $titleHash) 3) }}
        {{ $footerImage := printf "svg/footer-%d.svg" $random }}
        {{ partial $footerImage }}
    </div>
    <div class="footer-content">
        <div class="footer-col col-1">
            <div class="footer-label">
                About
            </div>
            I’m an undergraduate student at the University of Washington studying electrical engineering. I love working on projects involving electronics, software and design.
            <div class="footer-spacer"></div>
            Right now, I work on the DCGR and WISP projects at the UW Sensor Systems Lab.
        </div>
        <div class="footer-col col-2">
            <div class="footer-label">
                Pages
            </div>
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{.Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="footer-col col-3">
            <div class="footer-label">
                Connect
            </div>
            <ul>
                {{ range .Site.Menus.connect }}
                <li><a href="{{ .URL }}" target="_blank">{{.Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="footer-col col-4">
            <a href="#" class="footer-label back-to-top">
                Back to top
                <span class="footer-arrow">
                    {{ partial "icon-small" "arrow_up_pixel" }}
                </span>
            </a>
            <div class="footer-year">
                {{/*  {{ now.Format "2006" }} Rohan Menon  */}}
            </div>
        </div>
    </div>
</footer>
