.post {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 4rem;

    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    aside {
        width: 32%;
        color: $c0;
        margin-bottom: 3rem;

        > *:first-child {
            margin-top: 0;
        }

        p {
            color: $c1;
            font-size: 1.1rem;
            line-height: 1.35;
        }
    }
    main {
        width: 68%;

        > *:first-child {
            // Remove margin-top from top element
            margin-top: 0;
        }

        &.wide {
            // A page that takes up the full width
            width: 100%;
        }

        &.center {
            // A narrow page that is centered
            width: max-content;
        }
    }
}

svg.slant-face {
    display: block;
    width: 100px;
    margin: auto;
    .a {
        fill: $c8 !important;
    }
}

#results {
    h2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .post {
        display: block;
        padding-top: 0.75rem;
        aside, main {
            width: 100%;
        }
    }
}