footer {
    padding-top: 6rem;

    .footer-image {
        width: 100%;
        justify-content: center;
        display: flex;

        overflow: hidden;

        svg {
            height: 3.5rem;
            flex-shrink: 0;
            margin: auto;

            shape-rendering: geometricPrecision;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        row-gap: 1rem;
        justify-content: space-between;

        margin: 4rem auto 1rem auto;
        width: 100%;
        max-width: 1100px;

        line-height: 1.5;

        .footer-col {
            width: min-content;

            .footer-label {
                @include header-font;
                font-size: 1.25rem;
                white-space: nowrap;
                margin-bottom: 0.75em;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: -0.5em;
                line-height: 1.6;
                // li {
                //     margin-top: 0.2em;
                // }
            }

            &.col-1 {
                flex-basis: 40%;
                line-height: 1.25;

                .footer-spacer {
                    height: 1.05em;
                }
            }

            .footer-year {
                margin-top: 5.25em;
                text-align: right;
                padding-right: 0.5em;
            }

            .back-to-top {
                .footer-arrow {
                    display: inline-block;
                    transform: translateY(0.15em);
                }
                &:hover {
                    .footer-arrow {
                        transform: translateY(-0.02em);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        footer {
            padding-top: 1rem;
        }

        .footer-content {
            margin-top: 1em;
            flex-wrap: wrap;
            justify-content: left;

            .footer-col {
                margin-bottom: 1rem;

                &.col-1 {
                    flex-basis: 100%;
                }

                &.col-4 {
                    flex-basis: 100%;

                    a {
                        display: none;
                    }
                }

                .footer-year {
                    margin-top: unset;
                }
            }
        }
    }
}