$body-font: "Atkinson Hyperlegible";

$animation-slow: 0.5s;
$animation-fast: 0.15s;

$button-bg: #dfdfdf;
$button-bg-hover: #cadcca;

$bg: white;

$c0: #000000;
$c1: #181818;
$c2: #303030;
$c3: #484848;
$c4: #606060;
$c5: #787878;
$c6: #909090;
$c7: #a8a8a8;
$c8: #c0c0c0;
$c9: #e1e1e1;
$c10: #f0f0f0;

$p2: #edfee8;
$p3: #ccdecf;
$p4: #8fa993;
$p5: #426f49;
$p6: #1a592c;
$p7: #004516;
$p8: #001e07;


