.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 4rem;
    padding: 0;
    gap: 0.5rem;

    .pagination-item {
        width: 2.5rem;
        height: 2.5rem;
        .pagination-link {
            background-color: $c9;
            border-radius: $border-small;
            color: $c2;
            transition: background-color $animation-fast;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 2.7rem;
            text-decoration: none;
            font-size: 1.3rem;
            box-sizing: border-box;

            &.current {
                color: $bg;
                background-color: $c8;
                pointer-events: none;
            }

            &:hover {
                background-color: $p2;
            }
        }

        &.pagination-item-next,
        &.pagination-item-prev {
            width: 5rem;
            .pagination-link {
                line-height: 2.5rem;
                font-size: 1.7rem;
            }
        }
    }

    
}