@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson/AtkinsonHyperlegibleRegular.woff2") format("woff2"),
    url("/fonts/Atkinson/AtkinsonHyperlegibleRegular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson/AtkinsonHyperlegibleItalic.woff2") format("woff2"),
    url("/fonts/Atkinson/AtkinsonHyperlegibleItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/fonts/Atkinson/AtkinsonHyperlegibleBold.woff2") format("woff2"),
    url("/fonts/Atkinson/AtkinsonHyperlegibleBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "HoudiniPixel";
  src: url("/fonts/Houdini/HoudiniPixel.woff2") format("woff2"),
    url("/fonts/Houdini/HoudiniPixel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM_Plex/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBM_Plex/IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  src: url("/fonts/IBM_Plex/IBMPlexMono-Italic.woff2") format("woff2"),
    url("/fonts/IBM_Plex/IBMPlexMono-Italic.woff") format("woff");
}

@mixin header-font {
  $header-font: "HoudiniPixel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: $header-font;
  font-weight: normal !important;
  text-transform: lowercase;
}

* {
  // Change how underlines look
  text-decoration-thickness: 0.07em !important;
  text-underline-offset: 0.08em !important;
}

p,
li {
  font-size: 1.2rem;
  line-height: 1.45;
  color: $c2;
}

p {
  margin: 1em 0;
}

ol {
  list-style-type: decimal;
  padding-left: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.35;
  color: $c4;
  li {
    padding-left: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

h1 {
  @include header-font;
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 4rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

a {
  color: unset;

  svg {
    stroke-width: 0;
    stroke: $c1 !important;
    fill: $c1 !important;
  }

  &:has(span.icon) {
    text-decoration: none;

    .link-text {
      text-decoration: underline;
    }

    &:hover {
      .link-text {
        text-decoration: none;
      }
    }
  }

  &:hover {
    color: $p7;
    text-decoration: none;

    svg {
      stroke: $p7 !important;
      fill: $p7 !important;
    }
  }
}

a.unstyled {
  text-decoration: none !important;
  color: inherit !important;

  svg {
    fill: $c0 !important;
  }
}

a.link-button {
  display: inline-block;
  padding: 0.5rem 0.9rem 0.45rem 0.9rem;
  border-radius: 0.5rem;
  background-color: $c9;
  color: $c0;
  text-decoration: none;
  font-weight: 600;

  &:has(.icon) {
    padding-left: 0.7rem;
  }

  .icon + span {
    margin-left: 0.25rem;
  }

  svg {
    fill: $c0 !important;
  }

  &:hover {
    background-color: $p2;
  }
}

.icon {
  display: inline-block;

  svg {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.25em;
    fill: $c0 !important;
  }

  &.icon-thick {
    svg {
      stroke-width: 0.04em;
    }
  }

  &.icon-small {
    svg {
      width: 0.82em;
      height: 0.82em;
      margin-bottom: -0.15em;
    }
  }
}

.highlight pre {
  background-color: unset !important;

  code {
    border-radius: 0.5rem;
    display: block;
    padding: 0.75rem;
    overflow: auto;
    box-sizing: border-box;
    background-color: $code-bg;
    font-size: 0.95rem;
    line-height: 1.5;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 2.5rem;

    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      border: 0.38rem solid $code-bg;
      background-color: #ffffff30;
  
      &:hover {
          background-color: #ffffff80;
      }
    }
  }
}

p {
  code {
    background-color: $c9;
    border-radius: 0.3rem;
    padding: 0.15rem 0.3rem;
    font-size: 0.95rem;
    font-family: "IBM Plex Mono", monospace;
  }
}

@media screen and (max-width: 800px) {
  p {
    font-size: 1.15rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}
