@import './global.scss';

.widget-label {
    position: relative;

    .icon {
        position: absolute;
        top: -0.1em;
        left: -1.65em;
    }
}

.project-backlink {
    margin-top:3rem;
    display: block;
    padding: 1rem 1rem 0.70rem 2.5rem;
    background-color: $c9;

    border-radius: $border-big;

    .backlink-title {
        @include header-font;
        margin-top: 0.2em;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: $p1;
        .backlink-title {
            color: $p9;
        }
        .widget-label {
            color: $p9;
            .icon svg {
                fill: $p9 !important;
            }
        }
    }
}


.project-postlist {
    margin-top:3rem;
    border-radius: $border-big;
    overflow: hidden;
    .postlist-label {
        display: block;
        padding: 1rem 1rem 0.80rem 2.5rem;
        background-color: $c9;
        backdrop-filter: blur(1rem);
    }

    .postlist-item {
        padding: 1rem 1rem 0.80rem 1rem;
        border-top: solid 1.5px $c8;

        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;

        background-color: $c9;
        backdrop-filter: blur(1rem);

        &:hover {
            background-color: $p1;
            .postlist-item-text {
                time {
                    color: $p7;
                }
            }
            .postlist-title {
                color: $p9;
            }
        }

        img {
            width: 6rem;
            height: 4rem;
            min-width: 6rem;
            object-fit: cover;
            border-radius: 0.25rem;
        }

        .postlist-item-text {
            align-self: center;
            flex-grow: 1;

            time {
                color: $c4;
            }
        }

        .postlist-title {
            @include header-font;
            font-size: 1.1rem;
            line-height: 1.1;
            margin-bottom: 0.5rem;
        }

    }
}

.aside-link {
    display: block;
    margin: 0.3rem 0;
    color: $c1;

    .aside-icon {
        font-size: 1.3em;
        margin-right: 0.2em;
        vertical-align: middle;
    }
}