{{ $optBlock := dict "display" "block" }}
{{ $p := .Page }}
<div class="bento">
  {{ $r := (.Inner | transform.Unmarshal) }}
  {{ range $r.bento -}}
  {{ $row := .row | default "auto" }}
  {{ $col := .col | default "auto" }}
  {{ $fav := .fav | default false }}
  {{ $unsafe_css := print "grid-row: " $row "; " "grid-column: " $col ";"}}
  <div class="ben-item {{ if $fav }}favorite{{ end }}" style="{{ $unsafe_css | safeCSS }}">
    {{ if .url -}}
    <a class="ben-item-inner ben-item-link unstyled" href="{{ .url }}">
      {{- else -}}
      <div class="ben-item-inner">
        {{- end }}

        {{ with .content -}}
          {{ . | $p.RenderString $optBlock }}
        {{- end }}

        {{ if .url -}}
    </a>
    {{- else -}}
  </div>
  {{- end }}
</div>
{{ end }}
</div>