<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<div class="connect-card">
  {{ partial "svg/pfp.svg" }}
  <div class="cc-details">
    <h3>Rohan Menon</h3>
    <b>rohan@rohanmenon.com</b>
    <p>
      An engineering graduate with a focus on embedded devices, software development, and networking who loves working on challenging problems in fast-paced collaborative teams.
    </p>
    <a class="link-button" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rohansmenon/lets-talk?hide_event_type_details=1'});return false;">
      {{ partial "icon" "video" }}
      <span>Schedule a chat</span>
    </a>
    <a class="link-button" href="/media/resume-10-24.pdf" style="margin-right: 0.3rem;">
      {{ partial "icon" "pdf" }}
      <span>Resume</span>
    </a>
  </div>
</div>