<div class="connect-card">
    {{ partial "svg/pfp.svg" }}
    <div class="cc-details">
      <h3>Rohan Menon</h3>
      <b>rohan@rohanmenon.com</b>
      <p>
        An engineering student with a focus on embedded devices, sensors, and
        wireless technologies who thrives in fast-paced, collaborative
        environments.
      </p>
      <a class="link-button" href="https://www.linkedin.com/in/rohan-menon-46518415a/">
        {{ partial "icon" "linkedin" }}
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
  