{{ $optBlock := dict "display" "block" }} {{ $p := .Page }}
<div class="page more-margin">
  {{ $c := (.Inner | transform.Unmarshal) }} {{ $content := $c.cover }}
  <div class="cl-row">
    <div class="cl-aside">
      <h1>{{ $content.name }}</h1>
      <div class="cl-subtitle">{{ $content.contact | $p.RenderString }}</div>
    </div>
  </div>
  <div class="cl-row">
    <div class="cl-aside"></div>
    <div class="cl-main">{{ $content.body | $p.RenderString }}</div>
  </div>
</div>
