<figure
{{ with .Get "class" }}
    class="{{ . }}"
{{ end }}
{{ with .Get "style" }}
    style="{{ . }}"
{{ end }}
>
    {{ $src := ((resources.Get (.Get "src")).Fit "1500x1500 webp Smart q90").RelPermalink }}
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- else -}}
        <a href="{{ (.Get "src") }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}
    <img src="{{ $src }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}

         style='
         {{ if .Get "width" }}
            width: {{ .Get "width" }};
            {{- else -}}
            width: 100%;
         {{- end -}}
         {{ if .Get "height" }}
            height: {{ .Get "height" }};
            {{- else -}}
            max-height: 30rem;
         {{- end -}}
         {{ if .Get "transparent" }}
            background-color: transparent;
            border-radius: 0;
         {{- end -}}
         '
    /><!-- Closing img tag -->
    </a>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | .Page.RenderString -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | .Page.RenderString -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
