<div class="post-grid">
   {{ $currentPage := . }}
   {{ $.Scratch.Set "index" 0 }}
   {{ range .Site.Pages -}}
   {{ if and (eq .CurrentSection.Title ($currentPage.Get 0)) -}}
   {{ range where (where .Pages "Params.hidden" "!=" true) "IsSection" true -}}
   {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
   <div class="pgi" data-tags='{{ range .GetTerms "tags" }}{{ replace .Name " " "-" }},{{ end }}'>
      <a href="{{.RelPermalink}}" class="pgi-link unstyled" data-title="{{.Title}}"
         style="--bg-color: {{.Params.color}}">
         {{/* <div class="no-overflow"> */}}
            {{ if .Params.image -}}
            {{/*  {{ $img := resources.Get .Params.image }}  */}}
            <div class="pgi-img">
               <img class="batch-load" src="{{ .Params.image }}" alt="{{.Title}}">
            </div>
            {{- end }}
            <div class="pgi-text">
               <div class="pgi-title">{{ .Title }}</div>
               <div class="pgi-desc-short">{{ .Params.description }}</div>
               {{/* <div class="pgi-desc">
                  {{- .Params.aside | safeHTML -}}
               </div> */}}
            </div>
            {{/*
         </div> */}}
      </a>
   </div>

   {{- end }}
   {{- end }}
   {{- end }}
   <div class="post-grid-item pgi-invis"></div>
   <div class="post-grid-item pgi-invis"></div>
</div>
<script>
   activeFilter = window.location.search.split('tag=')[1];
   if (activeFilter) {
      document.querySelectorAll('.pgi').forEach(function (el) {
         if (el.getAttribute('data-tags').indexOf(activeFilter) == -1) {
            el.style.display = 'none';
         }
      });
   }
</script>
{{ partial "scripts/batch-loader" . }}