{{ $currentPage := . }}

{{ $dispProjects := false }}
{{ if .Get 1 }}{{ $dispProjects = true }}{{ end }}

{{ $pages := where .Site.Pages "IsPage" true}}
{{ if $dispProjects }}
{{ $pages = where .Site.Pages.ByWeight "RelPermalink" "in" (split (.Get 0) ",") }}
{{ else }}
{{ $pages = where (where .Site.Pages "FirstSection.Title" ($currentPage.Get 0)) "IsPage" true }}
{{ end }}

<div class="post-list {{if $dispProjects}}disp-projects{{end}}">
    {{ $.Scratch.Set "index" 0 }}
    {{ range $pages }}
    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
    <div class="pli" {{ if not $dispProjects }}data-tags='{{ range .Parent.GetTerms "tags" }}{{ replace .Name " " "-" }},{{ end }}'
        data-year='{{ .Date.Format "2006" }}' {{ end }}>
        <a href="{{.RelPermalink}}" class="pli-link unstyled" data-title="{{.Title}}"
            style="--bg-color: {{.Params.color}}">
            {{ if .Params.image }}
            <div class="pli-img">
                <img class="batch-load" src="{{.Params.image}}" alt="{{.Title}}" style="transition-delay: {{ mul ($.Scratch.Get "index") 0 }}ms">
            </div>
            {{ end }}
            <div class="pli-text">
                <time class="pli-date">{{.Date.Format "Jan 2, 2006"}}</time>
                <div class="pli-title">
                    {{ if $dispProjects }}
                    <div class="pli-title-main">{{ .Title }}</div>
                    {{ else }}
                    <div class="pli-title-parent">{{ index (last 3 (split .RelPermalink "/")) 0 }}/</div>
                    <div class="pli-title-main">{{ .Title }}</div>
                    {{ end }}
                </div>
                {{ if $dispProjects }}
                <div class="pli-desc">{{ .Params.description }}</div>
                {{ else }}
                <div class="pli-desc">{{ partial "get-summary.html" . }}</div>
                {{ end }}
            </div>
        </a>
    </div>
    {{ end }}
</div>
<script>
    const pages = 3;
    urlParams = new URLSearchParams(window.location.search);

    activeFilter = urlParams.get('tag');
    if (activeFilter) {
        document.querySelectorAll('.pli').forEach(function (el) {
            if (el.getAttribute('data-tags').indexOf(activeFilter) == -1) {
                el.style.display = 'none';
            }
        });
    }

    activeYear = urlParams.get('year');
    if (activeYear) {
        document.querySelectorAll('.pli').forEach(function (el) {
            if (el.getAttribute('data-year') !== activeYear) {
                el.style.display = 'none';
            }
        });
    }
</script>
{{ partial "scripts/batch-loader" . }}